server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    # JS, CSS, 이미지 등 정적 리소스는 있는 그대로 응답
    location /assets/ {
        root /usr/share/nginx/html;
        expires 6M;
        access_log off;
        add_header Cache-Control "public";
        try_files $uri =404;
    }

    # SPA 라우팅 (정적 리소스가 아닌 경우만 index.html)
    location / {
        try_files $uri $uri/ /index.html;
    }

    # 폰트, 아이콘 등 캐싱
    location ~* \.(?:ico|woff2?|eot|ttf|svg)$ {
        expires 6M;
        access_log off;
        add_header Cache-Control "public";
    }
}
