server {
    listen 80;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    # SPA routing (fallback to index.html)
    location / {
        try_files $uri /index.html;
    }

    # JS 요청 → dist/assets
    location /js/ {
        alias /usr/share/nginx/html/assets/;
    }

    # CSS 요청 → dist/assets
    location /css/ {
        alias /usr/share/nginx/html/assets/;
    }

    # 이미지 요청 → dist/assets
    location /img/ {
        alias /usr/share/nginx/html/assets/;
    }

    # 기타 정적 자원 캐싱
    location ~* \.(?:ico|woff2?|eot|ttf|svg)$ {
        expires 6M;
        access_log off;
        add_header Cache-Control "public";
    }
}
