stages:
  - build
  - build-docker
  - deploy

variables:
  BACKEND_IMAGE: $DOCKER_REGISTRY/$DOCKER_USERNAME/backend:$CI_COMMIT_SHORT_SHA
  FRONTEND_IMAGE: $DOCKER_REGISTRY/$DOCKER_USERNAME/frontend:$CI_COMMIT_SHORT_SHA
  DOCKER_TLS_CERTDIR: ""                         # DIND 사용 시 TLS 비활성화
  SSH_KNOWN_HOSTS: $SSH_KNOWN_HOSTS
  SSH_PRIVATE_KEY: $SSH_PRIVATE_KEY
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"   # Gradle 캐시를 프로젝트 내부에 저장

# ----------------
# 1. Backend Build (Java + Gradle)
# ----------------
#backend-build:
#  stage: build
#  image: amazoncorretto:17
#  cache:
#    key: ${CI_COMMIT_REF_SLUG}
#    paths:
#      - .gradle/caches/
#      - .gradle/wrapper/
#      - .gradle/wrapper/dists/
#      - Backend/.gradle
#  script:
#    - cd Backend
#    - chmod +x gradlew
#    - ./gradlew clean bootJar
#  artifacts:
#    paths:
#      - Backend/build/libs/*.jar
#    expire_in: 1 hour
#  rules:
#    - if: '$CI_COMMIT_BRANCH =~ /^(master|Devops_main)$/'
#      when: always
#    - when: never

# ----------------
# 2. Frontend Build (React + Node)
# ----------------
frontend-build:
  stage: build
  image:
    name: node:20-alpine
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - Frontend/seta-front/node_modules/
  script:
    - cd Frontend/seta-front
    - npm ci
    - npm run build
  artifacts:
    paths:
      - Frontend/seta-front/dist
    expire_in: 1 hour
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|Devops_main)$/'
      when: always
    - when: never

# ----------------
# 3. Backend Docker Image & Push to Registry.
# ----------------
backend-build-docker:
  stage: build-docker
  image: docker:25
  services:
    - name: docker:dind
      alias: docker
      command: ["--host=tcp://0.0.0.0:2375"]
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
  before_script:
    - apk add --no-cache openjdk17 bash curl
    - docker info
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin $DOCKER_REGISTRY
  script:
    # 1. JAR 빌드
    - cd Backend
    - chmod +x gradlew
    - ./gradlew clean bootJar

    # 2. Docker 이미지 빌드 & 푸시
    - docker build -t $BACKEND_IMAGE .
    - docker push $BACKEND_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|Devops_main)$/'
      when: always
    - when: never

# ----------------
# 4. Frontend Docker Image Build & Push
# ----------------
frontend-build-docker:
  stage: build-docker
  image: docker:25
  services:
    - name: docker:dind
      alias: docker
      command: ["--host=tcp://0.0.0.0:2375"]
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
  before_script:
    - docker info
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin $DOCKER_REGISTRY
  script:
    - docker build --build-arg VITE_API_BASE_URL="$VITE_API_BASE_URL" -t $FRONTEND_IMAGE ./Frontend/seta-front
    - docker push $FRONTEND_IMAGE
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|Devops_main)$/'
      when: always
    - when: never
  dependencies:
    - frontend-build

# ----------------
# Deploy Backend
# ----------------
deploy-backend:
  stage: deploy
  image: alpine:3.22
  needs:
    - job: backend-build-docker
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|Devops_main)$/'
      when: always
    - when: never
  before_script:
    - apk add --no-cache openssh-client bash rsync
    - mkdir -p ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    # 파일 전송
    - rsync -avz -e "ssh -i <(echo \"$SSH_PRIVATE_KEY\") -o StrictHostKeyChecking=no" Devops/deploy-backend.sh $DEPLOY_USER@$DEPLOY_SERVER_A:/home/$DEPLOY_USER/
    - rsync -avz -e "ssh -i <(echo \"$SSH_PRIVATE_KEY\") -o StrictHostKeyChecking=no" Devops/docker-compose.backend.yml $DEPLOY_USER@$DEPLOY_SERVER_A:/home/$DEPLOY_USER/

    # .env 파일 생성
    - |
      ssh -i <(echo "$SSH_PRIVATE_KEY") -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_SERVER_A "cat > /home/${DEPLOY_USER}/.env <<EOF
      DB_USER=${DB_USER}
      DB_PASSWORD=${DB_PASSWORD}
      DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      DB_NAME=${DB_NAME}

      SPRING_REDIS_HOST=${REDIS_HOST}
      SPRING_REDIS_PORT=${REDIS_PORT}

      JWT_SECRET=${JWT_SECRET}
      JWT_ACCESSTOKENEXPIRATIONMS=${JWT_ACCESSTOKENEXPIRATIONMS}
      JWT_REFRESHTOKENEXPIRATIONMS=${JWT_REFRESHTOKENEXPIRATIONMS}

      SPRING_KAFKA_BOOTSTRAP_SERVERS=${SPRING_KAFKA_BOOTSTRAP_SERVERS}

      BACKEND_IMAGE=${BACKEND_IMAGE}

      GMS_OPENAI_API_KEY=${GMS_OPENAI_API_KEY}
      GMS_OPENAI_BASE_URL=${GMS_OPENAI_BASE_URL}
      GMS_OPENAI_COMPLETIONS_PATH=${GMS_OPENAI_COMPLETIONS_PATH}
      GMS_OPENAI_MODEL=${GMS_OPENAI_MODEL}
      GMS_OPENAI_TIMEOUT_MS=${GMS_OPENAI_TIMEOUT_MS}
      EOF"

    # 파일 실행
    - ssh -i <(echo "$SSH_PRIVATE_KEY") -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_SERVER_A "cd /home/${DEPLOY_USER} && chmod +x deploy-backend.sh && ./deploy-backend.sh '${DEPLOY_USER}'"

# ----------------
# Deploy Frontend
# ----------------
deploy-frontend:
  stage: deploy
  image: alpine:3.22
  needs:
    - job: frontend-build-docker
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|Devops_main)$/'
      when: always
    - when: never
  before_script:
    - apk add --no-cache openssh-client bash rsync
    - mkdir -p ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    # 파일 전송
    - rsync -avz -e "ssh -i <(echo \"$SSH_PRIVATE_KEY\") -o StrictHostKeyChecking=no" Devops/deploy-frontend.sh $DEPLOY_USER@$DEPLOY_SERVER_A:/home/$DEPLOY_USER/
    - rsync -avz -e "ssh -i <(echo \"$SSH_PRIVATE_KEY\") -o StrictHostKeyChecking=no" Devops/docker-compose.frontend.yml $DEPLOY_USER@$DEPLOY_SERVER_A:/home/$DEPLOY_USER/

    # 파일 실행
    - ssh -i <(echo "$SSH_PRIVATE_KEY") -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_SERVER_A "cd /home/${DEPLOY_USER} && chmod +x deploy-frontend.sh && ./deploy-frontend.sh '${FRONTEND_IMAGE}' '${DEPLOY_USER}'"
