spring:
  application:
    name: argo-backend

  profiles:
    include: secret

  datasource:
    url: jdbc:postgresql://localhost:55432/mydb
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    properties:
      enable.idempotence: true
    producer:
      acks: all
      retries: 10
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: ${KAFKA_GROUP_ID:app-default}
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

  app:
    topics:
      raw: chat.raw.request.v
      filterResult: chat.filter.result.v1
      promptBuilt: chat.prompt.built.v1
      llmAnswer: chat.llm.answer.v1
      error: chat.error.v1


springdoc:
  swagger-ui:
    path: /docs