spring:
  application:
    name: argo-backend

  profiles:
    include: secret

  datasource:
#    url: jdbc:postgresql://localhost:55432/mydb # local
     url: jdbc:postgresql://3.35.206.91:5432/mydb # prod

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: 127.0.0.1
      port: 6379

springdoc:
  swagger-ui: {}

logging:
  pattern:
    level: "%5p [traceId=%X{traceId:-},spanId=%X{spanId:-}]"
