spring:
  application:
    name: backend

  profiles:
    active: msk

  flyway:
    enabled: true
    baseline-on-migrate: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 0

  replica-datasource:
    url: ${SPRING_REPLICA_DATASOURCE_URL}
    username: ${SPRING_REPLICA_DATASOURCE_USERNAME}
    password: ${SPRING_REPLICA_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 0

  jpa:
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: never
      encoding: UTF-8

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}
    elasticsearch:
      repositories:
        enabled: true
  elasticsearch:
    uris: http://172.26.8.129:9200

jwt:
  secret: ${JWT_SECRET}
  accessTokenExpirationMs: ${JWT_ACCESSTOKENEXPIRATIONMS}
  refreshTokenExpirationMs: ${JWT_REFRESHTOKENEXPIRATIONMS}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    # https
    urls:
      - url: /v3/api-docs
        name: default

logging:
  pattern:
    level: "%5p [traceId=%X{traceId:-},spanId=%X{spanId:-}]"
    console: "%d{HH:mm:ss} | %highlight(%-5level) | %green(%logger{20}) | %blue(traceId=%X{traceId}) %msg%n"
  level:
    root: INFO
    com.zaxxer.hikari: WARN
    org.springframework.transaction: WARN
    org.apache.kafka: WARN
    org.springframework.kafka: WARN

    # kafka package
    com.AIce.Backend.chat.adapter.messaging.kafka: INFO

gms:
  openai:
    base-url: ${GMS_OPENAI_BASE_URL}
    completions-path: ${GMS_OPENAI_COMPLETIONS_PATH}
    model: ${GMS_OPENAI_MODEL}
    api-key: ${GMS_OPENAI_API_KEY}
    timeout-ms: ${GMS_OPENAI_TIMEOUT_MS}
