spring:
  application:
    name: argo-backend



  profiles:
    include: secret

  datasource:
    url: jdbc:postgresql://localhost:55432/mydb
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: 172.19.64.149
      port: 6379


springdoc:
  swagger-ui:
    path: /docs